@import "color";

/*
 * Header
 */

header {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;

  nav {
    flex: 1;
  }

  a {
    font-weight: bold;
    color: @gray;
    text-decoration: none;
  }

  nav * + * {
    margin-left: 1em;
  }

  .logo {
    background-color: #500000;
    background-image: url(../logo.svg);
    background-size: cover;
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 1rem;
  }

  .current {
    color: @dark-gray;
  }
}

/*
 * Content
 *
 * Text is a content class that implies the main will mostly contain formatted text.
 */

.text * + * {
  margin-top: 1rem;
}

.text ul {
  // Re-apply a basic list style for text lists
  list-style: square;
  margin-left: 2rem;
}

/*
 * Footer
 */

footer {
  display: flex;
  font-weight: bold;
  margin: 1em 0 3rem 0;

  a {
    color: @gray;
    text-decoration: none;
  }

  .pagination {
    flex: 1;
  }

  .footer-nav a:not(:last-child) {
    padding-right: 0.75em;
  }
}



